/* 全局样式 */
body {
    font-family: "Times New Roman", "Arial", "sans-serif", "STZhongsong";
    background-image: url('Background_Image.png');
}

/* 标题 */
h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form label {
    flex: 0 0 auto;
    text-align: right;
}

form input[type="text"] {
    flex: 0 0 auto;
    margin-left: 10px;
    margin-right: 10px;
}

input[id="searchText"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
}

input[id="searchHot"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
}

input[id="searchPage"] {
    font-family: "Times New Roman", serif;
    width: 20px;
    padding: 5px;
    border: 1px solid #ccc;
}

input[value="查询"] {
    padding: 10px 20px;
    margin-right: 5px;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[value="热度"] {
    padding: 10px 20px;
    margin-right: 5px;
    background-color: #b87333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 表格样式 */
table {
    width: 100%;
    border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table th,
table td {
    padding: 10px;
    text-align: left;
}

/* 卡片布局 */
.cardLayout {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.cardLayout:first-child {
    margin-top: 0;
}

.cardLayout:last-child {
    margin-bottom: 0;
}

/* 调整表格列宽度 */
#record2 td:first-child {
    width: 40%;
}

#record2 td:nth-child(2) {
    width: 15%;
}

#record2 td:nth-child(3) {
    width: 15%;
}

#record2 td:nth-child(4) {
    width: 15%;
}

#record2 td:nth-child(5) {
    width: 15%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.button {
    padding: 10px 20px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #f57c00;
}

.button:active {
    background-color: #e65100;
}

#prevPage {
    margin-right: 10px;
}

#nextPage {
    margin-left: 10px;
}

#paginationInfo {
    text-align: center;
    margin-top: 5px;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

.navbar li {
    flex: 0 0 auto;
    text-align: center;
}

.navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li#contentQuery {
    margin-right: auto;
}

.navbar li#hotAnalysis {
    margin-left: auto;
    margin-right: auto;
}

.navbar li#wordCloud {
    margin-left: auto;
}

.navbar li a:hover {
    background-color: #ddd;
}

#contentQueryDiv {
    display: block;
}

#hotAnalysisDiv {
    display: none;
}


#chartContainerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#chartContainer {
    width: 600px;
    height: 400px;
}

#searchType {
    background-color: #66ccff;
    margin-right: 5px;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#searchType option {
    background-color: #f9f9f9;
}

#searchType option:hover {
    background-color: #ddd;
}

#Page {
    padding: 5px 10px;
    background-color: #666666;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

#sortType {
    background-color: #66ccff;
    margin-right: 5px;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#sortType option {
    background-color: #f9f9f9;
}

#sortType option:hover {
    background-color: #ddd;
}
